.pagination {
  position: fixed;
  bottom: 30px;
  left: 42%;
  margin-top: 20px;
  align-items: center;
}

.page-number {
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
}

.primary-button {
  background-color: #050505;
  color: white;
  margin: 2px 2px 2px 2px;
  padding: 10px 20px;
  border-radius: 5px;
  height: 40px;
}

.primary-button:hover {
  opacity: 0.9;

  cursor: pointer;
}

.disabled-button {
  margin: 2px 2px 2px 2px;
  padding: 10px 20px;
  border-radius: 5px;
  height: 40px;
}
