.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td,
#table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table tr:hover {
  background-color: #ddd;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #050505;
  color: white;
}

#pagination {
  margin-top: 20px;
}

button {
  font-family: Arial, Helvetica, sans-serif;
}

#primary-button {
  background-color: #050505;
  color: white;
  margin: 2px 2px 2px 2px;
  padding: 10px 20px;
  border-radius: 5px;
}

#primary-button:hover {
  opacity: 0.9;

  cursor: pointer;
}

#disabled-button {
  margin: 2px 2px 2px 2px;
  padding: 10px 20px;
  border-radius: 5px;
}

#copy-icon {
  color: #070707;
}
#copy-icon-active {
  opacity: 0.5;
}

#copy-icon:hover {
  cursor: pointer;
}

#delete-icon {
  color: #070707;
}

#delete-icon:hover {
  color: #f14d4d;
  cursor: pointer;
}

#sort-icon {
  color: #ffffff;
  opacity: 0.5;
}
#sort-icon:hover {
  color: #ffffff;
  cursor: pointer;
  opacity: 1;
}
#sort-icon-active {
  color: #ffffff;
  opacity: 1;
}
