.search-container {
  display: flex;
  justify-content: flex-end;
}

.search-input {
  height: 30px;
  border: 2px solid #050505;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 16px;
}

.search-icon {
  padding-left: 25px;
  background: url("https://static.thenounproject.com/png/101791-200.png")
    no-repeat left;
  background-size: 20px;
}
